			html {
				background-color: #f1f5f9;
				
			}
            :root {
                --primary-color: #FF0606;
                --secondary-color: #333;
                --background-color: #090909;
                --line-color: #434343;
                --font-color: black;
                --font-color-button: #ffff;
                --font-color-grey: #E9E4E4;
                --icon-color: #ffff;
                --font-size-large: 24px;
                --spacing-small: 8px;
            }

            @font-face {
                font-family: 'inter';
                src: url('../tipografia/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

			body {
              
				margin: 0 auto;
				width: 100%;
				max-width: 100ch;
				padding: 1rem;
				line-height: 1.5;
			}

			* {
				box-sizing: border-box;
			}

			h1 {
				margin: 1rem 0;
				font-size: 2.5rem;
			}
			nav {
				gap: 60px;
				display: flex;
				justify-content: center;
			}
			nav a {
				text-decoration: none;
				color: black;
				font-weight: 600;
				font-size: 30px;
				transition: all 0.5s;
                
			}
			nav a:hover {
				transform: translateY(-4px);
                
			}



            /* info personal */

            .contenido-luis {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100vh;
                gap: 30px;

            }

            .cont-luis {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70%;
                gap: 30px;
            }

            /* texto */

            .text-personal {
                color: var(--font-color);
                letter-spacing: 2px;
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                font-family: "Atkinson', sans-serif";
            }

            .text-personal h1 {
                font-weight: 400;
                font-size: 40px;
                margin-top: 0px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .text-personal p {
                color: black;
                line-height: 28px;
                letter-spacing: 1px;
                font-size: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .text-personal span {
                color: var(--primary-color);
                font-weight: 700;
            }
            /* boton descargar cv */
            .buton-cv {
                height: 55px;
                width: 220px;
                color: var(--font-color-button);
                background-color: var(--primary-color);
                border: none;
                border-radius: 50px;
                font-family: inter;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                transition: transform 0.3s ease, background-color 0.3s ease;
            }

            .buton-cv:hover {
                transform: scale(1.1);
            }


            /* imagen */
            .img-personal {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .img-personal img {
                width: 350px;
                height: 500px;
                border-radius: 10px;
                object-fit: cover;
            }