---
const today = new Date();
const name = "Luisange Ramirez";
import Social2 from "./Social.astro";
---


<div class="copy">
	&copy; {today.getFullYear()} Your name here. All rights reserved. {name}
</div>

<footer> 
	<Social2 platform="twitter" username="astrodotbuild" />
	<Social2 platform="github" username="withastro" />
	<Social2 platform="youtube" username="astrodotbuild" />
</footer>

<style>
	/* contactos 2 */
	.contactos-2 {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 320px;
		height: 30%;
	}

	.copy {
		margin-top: 50px;
		display: flex;
		justify-content: center;
	}
	footer{
		display: flex;
		justify-content: center;
		gap: 20px;
		margin-top: 10px;
	}
</style>
