---
import HamburgerAstro from "../components/Hamburger.astro";
---

<header>
    <nav class="nav_links">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog-main/">Blog</a>
    </nav>
    <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</header>
<style></style>
