<nav>
    <a href="/">Home1</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</nav>
<style>
    nav {
        gap: 60px;
        display: flex;
        justify-content: center;
    }
    nav a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 30px;
        transition: all 0.5s;
    }
    nav a:hover {
        transform: translateY(-4px);
        color: blue;
    }
</style>
